* { box-sizing: border-box; }

a, a:hover, a:focus{ font-family: $font-desc; color: $black-1; }

ul.list-style-none{ list-style: none; }

ul.bf-stripe{ 
  li::before{
    content: "-";
    position: absolute;
  }
}

.justify-content-center{ justify-content: center; }

.p-relative{ position: relative !important; }
.p-absolute{ position: absolute !important; }

html, body{
  height: 100%;
}

body.menu-open-overlay__pink:after {
  content: '';
  display: block;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  background: $black-1;
  opacity: .4;
}

.text-blue{ color: $blue-1 !important; }
.text-gray-dark{ color: $gray-1 !important; }

.c-pointer {
  cursor: pointer !important;
}

.container{
  @media only screen and (min-width: 1366px){
    max-width: 1280px;
  }
}

// display flex-middle
.d-flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

// Reset to Center
.col-centered{
  float: none;
  margin: 0px auto;
}
// End Reset to Center

.img-rounded{
  border-radius: 50%;
}


// Align bottom
.align-bottom-col{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 18px 23px;
}

.divider {
  display: block;
  width: 6rem;
  height: 0.3rem;
  background-color: #dfe1e5;
  margin: 2rem auto; 
}

.social {
  margin: 0 auto;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 1rem 0 0;
  
    a {
      display: block;
      text-decoration: none;
      background: $white-1;
      color: #696b6e;
      border: 0.1rem solid #dfe1e5;
      border-radius: 499rem;
      line-height: 1.5;
      font-size: 18px;
    }
  }
}

// no padding-margin
.no-p-m{
  margin: 0 !important;
  padding: 0 !important;
}


// wave path
.path-wave{
  position: relative;
  margin-bottom: .7rem;

  &.mb-sm{
    margin-bottom: .3rem;
  }
}
.btn-block__over-img{
  position: absolute;
  z-index: -1;

  &.bottom-right {
    right: 45px;
    bottom: -8px;
    top: auto !important;
    left: auto !important;

    @media screen and (max-width: 575px){
      right: auto;
      left: 20px !important;
    }

    &.sm{
      right: 15px;
    }

    &.xs{
      right: 8px;
    }
  }

  &.left-custom{
    margin-left: 16%;
    left: 0 !important;
    bottom: 10px !important;
  }

  .shape-path{
    width: 125px;
    height: 39px;
  }
}

.preview-article{
  line-height: 1.6;
  font-size: 14px !important;
}

// Section Head
.content-box{
  @media screen and (max-width: 767px){ margin-top: 55px !important; }

  &.content-home{ margin-top: 0 !important; }
  &.content-other{ padding-top: 70px !important; margin-top: 0 !important; }
}

.wrapper-section-area{
  padding: 6rem 0;

  &.wrap-sm{ padding: 4rem 0; }

  @media screen and (max-width: 767px){ padding: 1.5rem 0 !important; }
  @media (min-width: 768px) and (max-width: 991px){ padding: 2.5rem 0 !important; }
}

.home-section {
  padding-right: 0;

  &.p-3-md{
    @media (min-width: 768px) and (max-width: 1199px){ padding: 2rem 0 3rem; }
  }

  &.pb-3-xs{
    @media screen and (max-width: 575px){ padding-bottom: 3rem; }
  }

  &.bg-semi-half{
    @media screen and (max-width: 575px){ min-height: 400px; }
    @media (min-width: 576px) and (max-width: 767px){ min-height: 350px; }
  }
}

.home-section-text {
  padding-right: 4%;

  &.text-header-top{  
    @media screen and (max-width: 767px){ padding-top: 2rem; }
    @media screen and (min-width: 992px){ padding-top: 5rem; }
  }

  @media only screen and (max-width: 990px){
    padding-top: 8px;
    padding-right: 4%;
  }

  h1 {
    @include font($font-title, 45px, 500, $black-1);
    margin: 0;
    padding: 0;
    padding-bottom: 14px;
  }

  p {
    @include font($font-title, 16px, normal, $black-1);
    padding-right: 5%;
    padding-bottom: 14px;
  }
}

// ************************
.head-title{
  font-family: $font-title;
  font-weight: 500;
  color: $gold-1;
  letter-spacing: 1px;
  margin: 1rem 0;

  @media screen and (max-width: 767px){
    margin: .5rem 0;
  }
}

.head-sub-desc{
  font-family: $font-desc;
  font-size: 15px !important;
  font-weight: 300 !important;
  letter-spacing: 1px;

  @media screen and (max-width: 767px){
    font-size: 13px !important;
  }
}


.dark-img {
  position: relative;

  img {
    display: block;
    width: 100%;
    object-position: bottom center;
    max-height: 670px;
    object-fit: cover;

    @media screen and (min-width: 768px) and (max-width: 991px){
      height: 450px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, .15);
  }

  @media screen and (max-width: 767px){
    img{
      max-height: auto;
      height: 435px;
      object-fit: cover;
      width: auto;
      object-position: center;
    }
  }
}

.short-hr{
  border-width: 5px;
  max-width: 60px;
  border-radius: 80px;
  position: relative;

  &.warning{
    border-color: $yellow-1;
  }

  &.danger{
    border-color: $red-1;
  }

  &.primary{
    border-color: $blue-1;
  }
}

.title-justify-area{
  @include display-flex(flex);
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1.5px solid $black-4;
  margin-bottom: 2rem;

  .title-line{
    @include font($font-desc, 18px, 600, $black-1);
    letter-spacing: 1.5px;
    margin-bottom: 0 !important;

    @media screen and (max-width: 767px){
      font-size: 14px !important;
      letter-spacing: 1px;
    }
  }

  .title-right-line{
    @include font($font-desc, 15px, 500, $black-3);
    letter-spacing: 1.5px;
    margin-bottom: 0 !important;

    @media screen and (max-width: 767px){
      font-size: 14px !important;
      letter-spacing: 1px;
    }
  }
}

.content-blank{
  padding: 3rem 0;

  &.gray-section{
    background: $white-3;
  }

  @media screen and (max-width: 767px){
    padding: 2rem 0;
  }
}

.star-rating{
  div {
    position: relative;
    display: inline-block;
  }
}

.star-unfilled {
  position: relative;

  &:before {
    z-index: 0;
    content: '\f005';
    color: $black-4;
  }
}

.star-rating-review {
  top: 0;
  left: 0;
 
  &:before {
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    line-height: 1;
  }
}

.star-filled {
  position: absolute;
  overflow: hidden;

  &:before {
    z-index: 1;
    content: '\f005';
    color: $yellow-1;
  }
}

.block-over-img{
  position: relative;

  &.img-lg .card-img-top {
    height: 260px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &.img-xxl .card-img-top {
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .top-left {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 200;
  }

  .bottom-left {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 200;
  }

  .center-left{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 200;
    transform: translateY(-50%);
  }
}

.img-testimonial{
  position: relative;
  z-index: 99;

  img{
    width: 70px !important;
    height: 70px !important;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    top: 50%;
    left: 0;
    transform: translate(30%, 50%);
  }
}

.mitra{
  position: relative;
  height: 150px;
  @include display-flex(flex);
  align-items: center;

  img{
    max-height: 100px;
    width: 100% !important;
    object-fit: scale-down;
  }
}

.line-seperator-vr{
  &:after{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    content: "";
    height: 115%;
    width: 1px;
    background: $black-4;
    left: 50%;
  }
}

.jumbotron{
  background: $gray-1;
  padding: 3rem 2rem;
}

.img-modul{
  position: relative;

  img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center;
  }
}

.img-modul-sm{
  position: relative;

  img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
  }
}

.img-cover-litle{
  position: relative;

  img{
    width: 265px;
    height: 156px;
    object-fit: cover;
    object-position: center;
  } 
}

.rounded-img img {
  border-radius: 6px;
}

.text-price{
  .price{
    font-family: $font-title;
    color: $primary-color;
    font-weight: 600;
  }

  .note{
    font-family: $font-desc;
    color: $black-3;
    font-weight: 500;
    font-size: 14px;
  }
}

hr.hrzn{
  border-width: 1px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  position: relative;

  &.hr-bg-after:after{
    content: "OR";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    min-width: 12%;
    background: $white-1;
    left: 50%;
    top: 50%;
    right: auto;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: $black-2;
    transform: translate(-50%, -50%);
  }
}

.pict-featured-album{
  position: relative;

  @media screen and (min-width: 992px){ padding-right: 1rem; }

  > img{
    width: 100%;
    height: 411px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
}

.bottom-fix{
  @media screen and (min-width: 768px){ 
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.detail-class-info{
  position: relative;
  height: 100%;

  @media screen and (min-width: 992px){ max-width: 95%; }
}

.line-height-lg{ line-height: 35px; }

.advantages-class{
  position: relative;
  @include display-flex(flex);
  align-items: center;

  @media screen and (max-width: 575px){
    flex-wrap: wrap;
    .icon-feature{ margin-bottom: 1rem; }
  }

  .icon-feature{
    margin-right: 1rem;
    width: 75px;
    height: 100%;
    border-radius: 5px;
    border: solid 2px $white-2;
    background-color: $white-1;
    padding: 1rem;
    @include display-flex(flex);
    align-items: center;

    img{
      max-height: 30px;
      margin: 0 auto;
    }
  }

  .text-feature{
    position: relative;
    width: 100%;
  }
}

.adadvantages-content{
  @media screen and (min-width: 768px){ margin-left: 1rem; }
}

.text-block__over-img{
  &.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.play-button{
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-teacher{
  &.head-picture{
    @include display-flex(flex);
    align-items: center;

    .img-profile{
      width: 115px;
      height: 115px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 1.5rem;
    }
  }
}

img.photo-review[src*="#"] {
  visibility: hidden;
}

.wrapper-profile-photo{
  position: relative;
  @media screen and (min-width: 576px){
    max-width: 70%;
  }

  .photo-review{
    position: relative;
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;

    &:after{
      content: "Unggah Foto";
      position: absolute;
      top: 0;
      left: 0;
      width: 180px;
      height: 180px;
      background: $white-2;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include font($font-title, 16px, normal, $black-3);
      letter-spacing: 0.93px;
      text-align: center;
      visibility: visible;
    }
  }

  .btn-browse-profile-photo{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.btn-browse-profile-photo{
  width: 45px;
  height: 45px;
  border: solid 1px $white-4;
  background-color: $white-1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $black-2;
  cursor: pointer;
}

.add-advantages, .remove-advantages{
  cursor: pointer;
}

.class-banner-hide{
  display: none;
  padding: 4rem 0;
  text-align: center;
}

.text-muted{
  font-size: 13px !important;
  letter-spacing: 0.7px;
}

.modal-backdrop{
  z-index: 1600;
}

.modal{
  z-index: 1700;
}

@media (min-width: 576px){
  .modal-sm {
    max-width: 400px;
  }
}

.module-icon{
  display: flex;
  align-items: center;
  @include font($font-title, 14px, 600, $black-1);
  letter-spacing: .5px;

  .icon{
    max-width: 20px;
    margin-right: 1rem;
    max-height: 23px;
  }
}

.cols-auto-rotate{
  .cols-show{ display: none; }
  .cols-hide{ display: block; }

  &[aria-expanded="true"]{
    .cols-show{ display: block; }
    .cols-hide{ display: none; }
  }
}

.dropdown-toggle.after-none::after{ display: none; }

.dropdown-tabs{
  padding-top: 0;
  padding-bottom: 0;
  position: relative;

  .dropdown-item{
    padding: 1.5rem;
    max-width: 100%;
    min-width: 330px;
    position: relative;
    white-space: normal;

    &:hover, &:focus{
      background: unset;
    }
  }
}

.read-materi-flex{
  @include display-flex(flex);
  justify-content: space-between;

  @media screen and (max-width: 767px){
    flex-wrap: wrap;
  }

  .btn-block-prev,
  .btn-block-next,
  .content-block-area{
    margin-bottom: 1.2rem;
  }

  @media screen and (min-width: 768px){
    .content-block-area{
      width: 70%;
      padding-left: 1.5rem;
      padding-right: 1.9rem;
    }

    .btn-block-prev,
    .btn-block-next{
      width: 15%;
    }
  }
}

.list-forum-discussion{
  .card-author:last-child{
    margin-bottom: 0 !important;
    border-bottom: 0 !important;
  }
}

.note-editor{
  &.note-frame{
    border: 0 !important;
   
    .note-editing-area {
      border: 1px solid $black-4;
      margin-top: 1rem;
      border-radius: 3px;
      min-height: 150px;

      p{
        color: $black-1 !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        letter-spacing: .5px;
      }
    }
  }
}
.note-btn-group.btn-group .note-btn.btn-default {
  color: unset !important;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.podcast-area{
  padding: 1rem;
  display: flex;
  align-items: center;

  .podcast-name{
    flex: 2;
    display: flex;
    align-items: center;
  }

  .podcast-play{
    flex: 1;
    display: flex;
    align-items: center;

    .play {
      border: 0;
      box-sizing: border-box;
      transition: 100ms all ease;
      cursor: pointer;
      background: $primary-color;
      color: $white-1;
      border-radius: 50%;
      width: 44px;
      height: 44px;

      &:focus{
        outline: none;
      }

      &:before{
        content: "\f04b";
        font-family: FontAwesome; 
      }

      &.paused {
        &:before{
          content: "\f04c" !important;
          font-family: FontAwesome; 
        }
      }

      &:hover {
        border-color: transparent transparent transparent #404040;
      }
    }
  }

  .podcast-volume{
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.slider-track{
  background: #d8d8d8 !important;
}

.slider-selection{
  background: $primary-color !important;
  box-shadow: none !important;
}

.slider.slider-horizontal{
  width: 190px;

  .slider-track {
    height: 6px !important;
    margin-top: 0 !important;
    top: 50%;
    transform: translateY(-50%) !important;
    border: 0;
    box-shadow: none !important;
  }

  .slider-handle{
    visibility: hidden;
  }
}

.detail-article{
  p{
    color: $black-1 !important;
    margin-bottom: 0 !important;
  }

  ol, ul{
    padding-left: 16px !important;
    margin-bottom: 0 !important;
  }

  ol li, ol li p, ul li, ul li p{
    @include font($font-desc, .9rem, 500, $black-1);
    line-height: 25px;
    letter-spacing: 1px;
  }

  img{
    max-width: 100%;
    height: auto;
  }
}

.tnc-area{
  @media screen and (max-width: 767px){
    margin-top: 2rem;
  }
}

.simple-rating i{
	display: inline-block;
	padding: 1px 2px;
  cursor: pointer;
  
  &.star-active{
    color: $yellow-1;
  }

  &.star-deactive{
    color: $white-4;
  }
}

.morecontent span {
  display: none;
}
// .morelink {
//   display: block;
// }

.fluid-img-detail{
  max-height: 400px;
  overflow: hidden;
  position: relative;

  img{
    object-fit: cover;
    object-position: center;
    height: 400px;
    width: 100%;
  }
}

.no-pt-page{
  padding-top: 0 !important;
}

// SEARCH POPUP
.popup-box-on {
  visibility: visible !important;
  opacity: 1 !important;
  transition: visibility 0.1s, opacity 0.1s linear;
}

.off {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.1s linear;
}

#search {
  background: rgba(255, 255, 255, .96);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0s ease-in-out 0s;
  width: 100%;
  z-index: 99999;

  &.open {
    opacity: 1;
    transform: translate(0px, 0px) scale(1, 1);
  }  

  .close {
    padding: 5px;
    position: absolute;
    opacity: 1;
    right: 15px;
    top: 15px;  
    z-index: 99999;
  }

  .form-search-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 1.5rem;
  }

  input[type="text"] {
    border: 0 none;
    border-bottom: 1px solid #ccc;
    @include placeholder($black-6);
    @include font($font-desc, 40px, 300, $black-1);
    outline: none;
    box-shadow: none;
    width: 100%;
    padding-bottom: 1rem;
    background: transparent;

    @media screen and (max-width: 767px){
      font-size: 18px !important;
    }
  }
}

.sub-header{
  position: relative;

  .text-block{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (min-width: 1366px){
      max-width: 1280px;
    }
    @media only screen and (min-width: 1200px) and (max-width: 1367px){
      max-width: 1140px;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px){
      max-width: 960px;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px){
      max-width: 720px;
    }
    @media only screen and (min-width: 576px) and (max-width: 767px){
      max-width: 540px;
    }
  }

  .head-title{
    font-size: 50px !important;

    @media only screen and (max-width: 767px){
      font-size: 40px !important;
    }
  }
}

.about-text-block{
  position: relative;

  @media screen and (max-width: 991px){
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (min-width: 576px) and (max-width: 767px){
    max-width: 540px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) and (max-width: 991px){
    max-width: 720px;
    margin: 0 auto;
  }

  h1,h2,h3,h4,h5,h6{
    color: $gold-1 !important;
    text-transform: capitalize;
    font-weight: 600;
  }

  p{
    font-weight: 300 !important;
  }
}

.header-feature-about{
  @media screen and (max-width: 991px){
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (min-width: 576px) and (max-width: 767px){
    max-width: 540px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) and (max-width: 991px){
    max-width: 720px;
    margin: 0 auto;
  }
}

.img-about-foot{
  position: relative;
  width: 100%;
  max-height: 100%;
  overflow: hidden;

  img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;

    @media screen and (max-width: 767px){
      height: 110px;
    }
  }
}

.mapouter {
  position: relative;
  text-align: right;
  max-height: auto;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  max-height: auto;
  width: 100%;
  text-align: left;
}

ul.category {
  list-style: none;
  padding: 0;

  &.tab-vertical{
    li{
      margin-bottom: 0 !important;

      a{
        padding: 10px 0;

        &:after {
          font-family: FontAwesome;
          content: "\f105";
          float: right;
          color: $black-3;
        }

        &.active {
          background: #eee;
          padding: 10px;
          p{
            color: $primary-color !important;
          }
        }
      }
    }
  }

  li {
    margin-bottom: 10px;

    &.active a p{
      color: $primary-color !important;
      font-weight: 500 !important;
    }

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover p{
        color: $primary-color !important;
      }
    }

    p {
      margin-bottom: 0;
      font-weight: 400 !important;
    }
  }
}

.read-article {
  position: relative;
  margin: 2rem 2.5rem;

  .title-article {
    font-size: 2.5rem !important;
  }

  .date-post{
    color: $gold-1 !important;
    margin-bottom: 0 !important;
  }

  p, blockquote, small{ font-weight: 300 !important; }
}

.comment-list{
  padding-left: 0;
  list-style: none;

  li{
    border-bottom: 1px solid $white-2;

    .card-author {
      margin-bottom: 10px;
    }
  }

  .card-author .img-profile{
    width: 65px;
    height: 65px;
  }
}

.sub-comment{
  list-style: none;
  border-top: 1px solid $white-2;
  padding-left: 0;
  margin-left: 12%;
  padding-top: 1.5rem;

  li{
    border-bottom: 0;
  }
}

.product-line-filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 1.5rem;

  @media screen and (max-width: 575px){
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    display: -o-grid;
    display: -webkit-grid;
    justify-content: center;
  }

  .result{
    font-weight: 300 !important;

    @media screen and (max-width: 575px){
      margin-bottom: 1rem !important;
    }
  }

  .filter-select-option{
    background: transparent;
    border: 0;
    height: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    line-height: 1.5;
    padding: 5px 15px 5px 5px;

    + i.fa {
      float: right;
      margin-top: -25px;
    }
  }
}

.accordion{
  .card {
    background: transparent !important;
    border: 0 !important;
    box-shadow: none; 

    .collapse{
      border-bottom: 1px solid #eee;
    }

    .card-body{
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      @include font($font-desc, .9rem, 300, $black-1);
      line-height: 25px;
      letter-spacing: 0.36px;
      opacity: .8;
      margin-bottom: 10px;

      p{
        font-weight: 300 !important;
        opacity: .8;
      }
    }
  }

  .card-header {
    background: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    padding: 0;

    p[data-toggle="collapsed"], p[data-toggle="collapse"] {
      padding: 10px 0;
      font-weight: 400 !important;

      &[aria-expanded="true"]:after{
        content: "\f106";
        color: $black-1;
      }

      &:after{
        font-family: FontAwesome;
        content: "\f107";
        float: right;
        font-size: 18px;
        color: #949393;
      }
    }
  }
}

.block-rules{
  position: relative;
  padding: 1rem;
  background: $white-2;
  @include display-flex(flex);
  margin-top: 2rem;

  .rule-icon{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ddd;
    padding: 12px;
    position: relative;
    margin-right: 1rem;

    .fa{
      color: $black-3 !important;
    }
  }

  .rule-text{
    position: relative;
    
    .title{
      @include font($font-desc, .9rem, 500, $gold-1);
      line-height: 25px;
      letter-spacing: 0.36px;
      margin-bottom: 3px;
    }

    p{
      font-weight: 300 !important;
      color: #6B6969 !important;
      margin-bottom: 0;
    }
  }
}

/**
 * EasyZoom core styles
 */
.easyzoom {
	position: relative;

	/* 'Shrink-wrap' the element */
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.easyzoom img {
  vertical-align: bottom;
  width: 405px;
  position: relative;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.easyzoom.is-loading img {
	cursor: progress;
}

.easyzoom.is-ready img {
  cursor: crosshair;
  width: 405px;
  position: relative;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.easyzoom.is-error  img {
	cursor: not-allowed;
}

.easyzoom-notice {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 150;
	width: 10em;
	margin: -1em 0 0 -5em;
	line-height: 2em;
	text-align: center;
	background: #FFF;
	box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
	position:absolute;
	z-index: 100;
	overflow: hidden;
	background: #FFF;
}

/**
 * EasyZoom layout variations
 */
.easyzoom--overlay .easyzoom-flyout {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	margin-left: 20px;
}

.thumbnails {
	overflow: hidden;
	margin: 1em 0;
	padding: 0;
}

.thumbnails li {
	display: inline-block;
	margin: 0 10px 0 0;
}

.thumbnails img {
	display: block;
  width: 56px;
  height: 56px;
  object-fit: cover;
  object-position: center;
}

.toggle {
	display: block;
	margin: 10px auto 1.5em;
}

.anual-pricing{
  padding: 1.7rem;
}

.status-pricing{
  position: relative;
  font-size: 14px !important;
  letter-spacing: 0.32px !important;
}

.circle-count{
  padding: .25em .4em;
  font-size: 75%;
  font-family: $font-desc;
  font-weight: 500;
  line-height: 1;
  background: $primary-color;
  color: $white-1;
  border-radius: 80px;
  min-width: 28px;
  min-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}