/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
	#header_home_ills, #orderOne{ order: 1; }
	#header_home_text, #orderTwo{ order: 2; }
}

/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.98px) { 

}

/*Medium devices (tablets, less than 992px)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	#footer-cleanlab-logo{ order: 1; }
	#footer-cleanlab-kontak{ order: 2; }
	#footer-cleanlab-ahlijasa{ order: 3; }
	#footer-cleanlab-info{ order: 4; }
}

@media screen and (max-width: 991px){
	#ProductListSection{ order: 1; }
	#ProductCategorySection{ order: 2; }
}

/*Medium devices (min 992px)*/
@media screen and (min-width: 992px) {
	.p-0-lg { padding: 0; }
}

/* Large devices (desktops, less than 1200px)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

}