.desktop-navigation{ 
  z-index: 1500 !important; 
  background: $primary-color !important;
  height: 100px;
  @include transition-3v(0.5s, all, ease-in-out);

  .navbar-brand{ padding-bottom: 0; }

  @media screen and (max-width: 767px){
    height: 70px;
  }
  
  @media screen and (min-width: 992px){
    padding: 0;
  }
}

.mobile-navigation{ background: $white-1; }

.nav-mobile-collapse{
  border-top: 1px solid $white-2;
  padding: 5px 0;
  margin-top: 12px;

  ul.nav{
    position: relative;

    li, li a{
      @include font($font-title, 16px, 500, $black-2);
    }

    .nav-item{
      border-bottom: 1px solid $white-blue-old;

      &:last-child{
        border-bottom: 0;
      }
    }

    .nav-link{
      padding: .8rem .3rem;
    }
  }
}

.navbar-brand img, .logo img { 
  max-width: 67px; 
  position: relative;

  @media screen and (max-width: 767px){
    max-width: 40px; 
  }
}

.nav-link { color: $white-1; }

.navbar-toggler img { max-height: 20px; }

// .navbar:active,.navbar:focus{ background: $black-1; }

.nav-scroller{
  background-color: $black-1;
  border-bottom: 1px solid #e9e9e9;
  
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;

  -webkit-overflow-scrolling: touch;

  .nav {
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    
    -webkit-overflow-scrolling: touch;
  }
}

.mobile-nav {
  -webkit-animation: myfirst 5s 2; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation: myfirst 3s 1;
  animation-direction: alternate;
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}

.navbar-custom { background: transparent; }

a.logo:hover, a.logo:active, a.logo:focus { text-decoration: none; }

li.nav-item .btn-white { color: #46484a; }

ul.navbar-nav{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  li.nav-item{
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 1.2rem;
    letter-spacing: 0.5px;
    position: relative;
    margin: 0 !important;

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin-right: 0;
    }

    a{
      font-family: $font-desc !important;
      color: $gold-1 !important;
      text-transform: uppercase;
      padding: 0 !important;

      &:hover{
        opacity: .7;
      }
    }
    
    &.active {
      a{
        font-weight: 600 !important;
      }
    }

    &:hover, &:focus{
      color: $blue-1 !important;
      border-radius: 3px !important;
    }

    a{
      &:hover{
        color: $primary-color;
        cursor: pointer;
        transition: .5s;
      }
    }

    .dropdown-menu{ 
      border: solid 1px #e0e0e0;
      padding: 0 1.3rem !important; 
      margin-top: 0;
      min-width: 13rem;

      &.search-bar{
        min-width: 300px;
        background: $primary-color !important;
      }
    }

    .dropdown-notif{
      width: 400px;

      .dropdown-item{
        white-space: normal;

        .title, .desc{ font-family: $font-title !important; }
        
        .title{ 
          font-size: 16px !important; 
          font-weight: 600 !important; 
          margin-bottom: 5px; 
        }

        .desc{ 
          font-size: 14px !important; 
          font-weight: normal !important; 
          margin-bottom: 0px; 
          line-height: 1.57;
          letter-spacing: 0.88px;
        }
      }
    }

    a.dropdown-item{
      @include font($font-title, 15px, 500, $black-1);
      padding: 1rem 0 !important;
      
      &:not(:last-child){
        border-bottom: 1px solid $white-2;
      }

      &:hover, &:focus{
        background: transparent !important;
        color: $primary-color !important;

        // &:last-child{
        //   border-bottom-left-radius: 0.25rem;
        //   border-bottom-left-radius: 0.25rem;
        // }
      }
    }
  }
}

// NAV FOOTERs
.nav-footer {
  list-style: none;
  float: right;

  .nav-item .nav-link { 
    @include font($font-desc, 14px, 300, $white-1);
  } 

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;  
  }

  li {
    float: left;
    margin-top: .5rem; 
  }
}

// Mobile
.wrap_header_mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: white;
  display: none;

  @media (max-width: 991px){
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex !important;
  }
}

.hamburger {
  -webkit-transform: scale .8;
  -moz-transform: scale .8;
  -ms-transform: scale .8;
  -o-transform: scale .8;
  transform: scale .8 !important;
  margin-top: 5px;
}

.hamburger-inner, 
.hamburger-inner:after, 
.hamburger-inner:before {
  width: 28px !important;
  height: 2px !important;
  margin-top: 2px;
  margin-bottom: 2px;
}

.logo-mobile {
  display: block;

  img {
    max-height: 60px;
  }
}

.btn-show-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header-icons-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.header-wrapicon1, .header-wrapicon2 {
  // height: 27px;
  position: relative;

  img {
    height: 65%;
  }
}

.header-icon1 {
  font-family: "Brandon Text" !important;
  color: #2a2a2a !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  font-style: normal;
}

.nav-mobile{
  padding-left: 0;
  list-style: none; 
  margin-top: .5rem;

  li{
    padding: .65rem 0;
    margin-bottom: .2rem;
    border-bottom: 1px solid $white-2;
    // &:not(:last-child){ border-bottom: 1px solid $white-3; }

    a{
      @include font($font-title, 15px, 400, $black-5);
    }

    &.active a{
      color: $primary-color !important;
    }
  }
}

.nav-pills{
  border: 1px solid $blue-1;

  .nav-item{
    &:not(:last-child){ border-right: 1px solid $blue-1; }
    border-radius: 0;

    .nav-link{
      @include font($font-title, 16px, normal, $blue-1);
      text-align: center;

      &.active{
        background: $blue-1;
        color: $white-1 !important;
        border-radius: 0;
      }
    }
  }
}

.nav-line{
  list-style: none;
  padding: 0;
  margin: 0;

  @media screen and (max-width: 991px){
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid $white-1;

    li{ margin: 12px 0 0 !important; }
  }

  li{
    display: inline-block;
    position: relative;
    padding: 0 12px;
    margin: 0 12px !important;
    cursor: pointer;
    vertical-align: bottom;

    &:hover{
      background: transparent !important;
    }

    @media screen and (min-width: 992px){
      &:not(:last-child):after{
        position: absolute;
        top: 33%;
        bottom: 0;
        right: 0;
        content: "";
        height: 20px;
        width: 1px;
        background: $gold-1;
      }
    }
  }
}

.path-bg-btn{
  @media screen and (max-width: 991px){
    margin: 1rem 0;
  }
}

.navbar-loged-in{
  align-items: unset !important;

  li.nav-item {
    @include display-flex(flex);
    align-items: center;
    padding-left: 0 !important;
    padding-right: 0 !important;

    .fa{ color: $black-3 !important; }
  }
} 

.dashboard-dropdown{
  @include display-flex(flex);
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;

  &::after{
    content: unset;
  }

  .img-profile{
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    margin-right: 16px;
  }
}

.dropdown-menu-center {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.top-notif {
  position: relative;
  width: 100%;
  padding: 8px 0;
  background: $gold-1;

  .content-section{
    @include display-flex(flex);
    align-items: center;
    flex-wrap: wrap;

    @media screen and (min-width: 576px){
      justify-content: flex-end;
    }
  }

  p{
    font-size: 12px !important;
    letter-spacing: 0.43px !important;
  }

  .component{
    margin: 0 1rem;

    &:first-child{
      margin-left:0;
    }

    &:last-child{
      margin-right:0;
    }
  }
}

.social-media{
  padding-left: 0;
  list-style: none;
  margin: 0;

  li{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: $primary-color;
    border-radius: 50%;

    a{
      align-items: center;
      justify-content: center;
      display: flex;
      color: $gold-1;
      height: 100%;
      font-size: 12px;

      &:hover{
        opacity: .85;
        color: $white-1 !important;
      }
    }
  }
}

.dropdown-toggle::after{
  content: unset;
}

.nav-top{
  position: fixed !important; 
  transition: all 500ms ease;
  top: 0;
  right: 0;
  left: 0;
}