.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    background-color: $primary-color;
    overflow-x: hidden;
    transition: 0.35s;
    right: -100%;

    .closebtn {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &.show{ right: 0; }

    p {
        font-size: 14px !important;
    }
}

.navbar-nav-mobile{
    padding: 0;
    list-style: none;

    li{
        margin-bottom: 10px;

        a{
            color: $gold-1 !important;
            text-transform: uppercase;
            font-size: 14px;
        }
    }
}

.foot-contact{
    background: $gold-1;
    height: auto;
    width: 100%;
    position: absolute;
    padding: 1rem;
    bottom: 0;
}

@media screen and (max-height: 450px) {
  .sidenav { padding-top: 15px; }
  .sidenav a { font-size: 18px; }
}