.btn-outline-primary, 
.btn-outline-secondary, 
.btn-outline-white, 
.btn-outline-success, 
.btn-outline-info, 
.btn-outline-warning, 
.btn-outline-danger {
  border-width: 0.15rem; 
}

.btn{
  padding: 10px 15px !important;
  border-radius: 0 !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400 !important;

  &.btn-xs{
    padding: .4rem .7rem !important;
    font-size: 14px !important;
  }

  &.btn-long-md{
    padding: .6rem 3.5rem !important;
  }

  &.btn-sm{ 
    font-size: .9em !important;
    padding: 6px 10px !important;
  }

  &.btn-md{ 
    padding: 8px 15px !important;
  }

  &.btn-lg{
    padding: 12px 15px !important;
  }

  &.btn-xl{
    padding: 18px 15px !important;
  }

  &.rad-80{ border-radius: 80px !important; }

  &.mini-shadow{ box-shadow: 0 1px 3px 0 $white-4 !important; }

  &:hover{ opacity: .85; }
}

.btn-primary { 
  @include font($font-desc, 14px, 500, $gold-1);
  transition: 0.3s all ease;
  background: $primary-color;
  border-color: $primary-color;

  &:hover { 
    background: $primary-color;
    border-color: $primary-color;
    color: $gold-1 !important;
  }
}

.btn-fb { 
  @include font($font-desc, 12px, 400, $white-1);
  transition: 0.3s all ease;
  background: #475993;
  border-color: #475993;
  text-transform: capitalize;

  &:hover { 
    background: #475993 !important;
    border-color: #475993;
    opacity: .9;
    color: $white-1 !important;
  }
}

.btn-twitter { 
  @include font($font-desc, 12px, 400, $white-1);
  transition: 0.3s all ease;
  background: #03a9f4;
  border-color: #03a9f4;
  text-transform: capitalize;

  &:hover { 
    background: #03a9f4 !important;
    border-color: #03a9f4;
    opacity: .9;
    color: $white-1 !important;
  }
}

.btn-google-plus { 
  @include font($font-desc, 12px, 400, $white-1);
  transition: 0.3s all ease;
  background: #F34A38;
  border-color: #F34A38;
  text-transform: capitalize;

  &:hover { 
    background: #F34A38 !important;
    border-color: #F34A38;
    opacity: .9;
    color: $white-1 !important;
  }
}

.btn-secondary { 
  @include font($font-desc, 14px, 500, $primary-color);
  transition: 0.3s all ease;
  background: $gold-1;
  border-color: $gold-1;

  &:hover { 
    background: $gold-1;
    border-color: $gold-1;
    color: $primary-color !important;
  }
}

.btn-outline-primary { 
  @include font($font-desc, 14px, 500, $primary-color);
  transition: 0.3s all ease;
  background: transparent;
  border: 1px solid $primary-color;

  &:hover { 
    background: $primary-color;
    border-color: $primary-color;
    color: $white-1 !important;
  }
}

.btn-danger, .btn-green { 
  @include font($font-desc, 14px, 500, $white-1);
  transition: 0.3s all ease;
  background: $green-1;
  border-color: $green-1;

  &:hover { 
    background: $green-1;
    border-color: $green-1;
    color: $white-1 !important;
  }
}

.btn-default { 
  @include font($font-desc, 14px, 300, $primary-color);
  transition: 0.3s all ease;
  background: $white-1;
  border-color: $white-1;

  &.btn-sm{ 
    font-size: .8em !important;
    padding: 5px 10px !important;
  }

  &.btn-lg{
    padding: 10px 30px !important;
  }

  &.f-w-500{ font-weight: 500 !important; }

  &:hover { 
    background: $white-1;
    border-color: $white-1;
    color: $primary-color !important;
  }
}