.carousel-indicators{
    bottom: 15px;

    li {
        width: 13px;
        height: 13px;
        background-color: $black-1;
        opacity: 0.26;
        border-radius: 50%;
        margin: 0 .5rem;

        &.active{
            background-color: $primary-color;
            opacity: 1;
        }
    }
}

.carousel-control-next,
.carousel-control-prev{
    opacity: 1 !important;
    transform: translateY(-50%);
    bottom: 3%;
    width: auto;
    top: unset;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 999;
}

.carousel-control-prev { 
  left: 38% !important; 
  @media screen and (min-width: 768px) and (max-width: 991px){ left: 32% !important; }
}
.carousel-control-next { 
  right: 38% !important; 
  @media screen and (min-width: 768px) and (max-width: 991px){ right: 32% !important; }
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.30) !important;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background: $white-1 !important;
        transition: all .5s ease;
    }

    &:after {
        font-family: FontAwesome;
        font-weight: normal;
        color: $blue-1;
        font-size: 2.5vw;
        position: relative;
    }
}

.carousel-control-prev-icon:after{
    content: "\f104" !important;
    right: 2px;
}

.carousel-control-next-icon:after{
    content: "\f105" !important;
    left: 2px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  color: $white-1;
  text-align: left;
  transform: translate(-50%, -50%);

  .text-block{
    max-width: 50%;
    position: relative;
    background: rgba(178, 155, 111, 0.3);
    padding: 2rem;

    @media screen and (max-width: 767px){
      max-width: 100%;
      text-align: center;

      h5{ font-size: 1.5rem !important; }
      p{ font-size: 12px !important; line-height: unset; }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px){
      h5{ font-size: 2rem !important; }
      p{ font-size: 14px !important; }
      max-width: 80%;
    }

    h5{
      font-family: $font-title;
      font-size: 45px;
      font-weight: 600 !important;
      letter-spacing: auto;
      color: $primary-color !important;
      margin-bottom: 1.5rem;
    }

    p{
      font-family: $font-desc !important;
      font-size: 16px;
      font-weight: 300 !important;
      letter-spacing: 0.36px;
      color: $black-1 !important;
      margin-bottom: 1.5rem;
    }
  }
}