.nav-tabs {
    border-bottom: 1px solid $gold-1;
    margin-top: 1rem;

    &.tabs-default{
        margin-top: 0;
        border-radius: 5px;
        background: $white-5;

        .nav-item{
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            text-align: center;
            padding-top: 17px;
            padding-bottom: 17px;
            padding-right: 0;
            font-size: 15px !important;
            margin-right: 0;

            svg g, svg path {
                fill: $black-3 !important;
            }
            
            &.active{
                color: $primary-color !important;

                svg g, svg path {
                    fill: $primary-color !important;
                }

                &:after {
                    border: 1.5px solid $primary-color;
                }
            }
        }
    }

    .nav-item{
        flex: unset;
        text-align: left;
        padding: 1rem 0;
        margin: 0 1.7rem 0 0;
        @include font($font-desc, 14px, 300, $gold-1);
        letter-spacing: 0.36px;
        position: relative;

        &.active{
            background: $primary-color !important;
            padding: 1rem;
            transition: .5s;
        }

        &:first-child{
            margin-left: 0;
        }

        &.tabs-flex{
            flex: 1 1 auto;
            text-align: center;
        }
    }
}