@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Poppins:100,200,300,400,500,600,700&display=swap');

h1, h2, h3, h4, h5, h6{ 
	font-family: $font-title; 
	font-weight: 500;
	letter-spacing: 1px;
}

h1 { font-size: 4rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.55rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.1rem; }

label{
	font-family: $font-desc !important;
	font-weight: 400 !important;
	font-size: .9rem;
	color: $black-1;
	line-height: 25px;
	letter-spacing: 0.36px;
	margin-bottom: .3rem;
}

p { 
	@include font($font-desc, .9rem, 500, $black-1); 
	line-height: 25px;
	letter-spacing: 0.36px; 
}

.text-paragraf{
	font-size: 15px !important;
}

a, a.text-primary{
	text-decoration: none;
	cursor: pointer;

	&:hover, &:focus{
		text-decoration: none;
		color: $primary-color !important;
		opacity: .9;
		transition: .5s;
	}
}

.text-title{ font-family: $font-title !important; }

.text-primary, .text-red{ color: $primary-color !important; }
.text-gold{ color: $gold-1 !important; }
.text-danger{ color: $red-1 !important; }
.text-white{ color: $white-1 !important; }
.text-default, .text-black{ color: $black-1 !important; }
.text-dark{ color: $black-2 !important; }
.text-secondary{ color: $black-3 !important; }

.text-link{ 
	color: $black-1; 

	&:hover, &:focus{
		color: $black-3;
		// opacity: .65;
	}
}

.font-title { font-family: $font-title !important; }
.font-desc { font-family: $font-desc !important; }

.font-100 { font-weight: 100 !important; }
.font-200 { font-weight: 200 !important; }
.font-300 { font-weight: 300 !important; }
.font-400 { font-weight: 400 !important; }
.font-500 { font-weight: 500 !important; }
.font-600 { font-weight: 600 !important; }
.font-700 { font-weight: 700 !important; }
.font-800 { font-weight: 800 !important; }
.font-900 { font-weight: 900 !important; }

.font-16{
	font-size: 16px !important;
}

.ls-93{
	letter-spacing: 0.93px !important;
}

// MOBILE
@media screen and (max-width: 767px){
	h3 { font-size: 1.3rem; }
}

blockquote{
	@include font($font-desc, .9rem, 500, $black-1); 
	line-height: 25px;
	letter-spacing: 0.36px; 
	margin: 0 auto;
	width: 90%;
	font-style: italic;
	margin-bottom: 1.3rem;

	&:before{
		content:"\f10d";
		font-family: FontAwesome;
		font-size: 18px;
		color: $gold-1 !important;
		position: absolute;
		left: 0;
	}
}

.pb-6{
  padding-bottom: 5rem !important;
}