$white-1:			#ffffff;
$white-2:			#eeeeee;
$white-3:			#F6F6F6;
$white-4:		    #e0e0e0;
$white-5:           #f5f5f5;
$white-blue-old:	#f4f6fb;

$black-1:			#424242;
$black-2:			#65707B;
$black-3:			#aaaaaa;
$black-4:			#eaeaea;
$black-5:			#fafafa;
$black-6:			#bfbfbf;	
$black-7:			#4b4b4b;
$rgba-black:		rgba(0, 0, 0, 0.12);

$gray-1:			#f7f7f6;
$gray-ccc:			#cccccc;

$blue-1:			#15bbb4;
$blue-3:			#c4ebf5;
$rgba-blue:			rgba(65, 188, 234, 0.07);

$yellow-1:			#ffcc01;
$yellow-2:			#f6e58d;

$gold-1:            #B29B6F;
$gold-2:            #E0D9CC;

$green-1:			#00cc99;

$red-1:				#4B0000;
$red-2:				#b14f4a;
$red-3:				#dc3545;

$gray-blue-1:		#f1f9fb;
$gray-blue-2:		#7e96a7;

// Home Colors
$primary-color: 	$red-1;

// typography
$font-big:			8em     !default;
$font-large:		5em     !default;
$font-size-h1:      3em     !default;
$font-size-h2:      2.3em   !default;
$font-size-h3:      1.8em   !default;
$font-size-h4:      1.4em   !default;
$font-size-h5:      1.05em  !default;
$font-size-h6:      0.9em   !default;
$font-p:           	16px    !default;
$font-p-medium:     14px    !default;
$font-p-small:   	12px    !default;

$font-default:		'Playfair Display', serif;
$font-title: 		'Playfair Display', serif;
$font-desc: 		'Poppins', sans-serif;